table tbody tr td {
    font-size: 11px;
}

.out_border {
    border: 0px solid white;
    border-collapse: collapse;
    background-color:white;
}
.all_border {
    border: 1px solid black;
    border-collapse: collapse;
    background-color:white;
}
.all_border th, .all_border td, .all_border tr {
 border: 1px solid #000;
}

.all_border05 {
    border: 0.5px solid black;
    border-collapse: collapse;
    background-color:white;
}
.all_border05 th, .all_border05 td {
 border: 0.5px solid #000;
}
.left {
    padding-left: 10px;
    padding-top: 8px;
    margin-left: 5px;
    float: left;
    position: relative;
    width: 47%;
    height: 490px;
}
.right {
    padding-left: 10px;
    padding-top: 8px;
    margin-left: 5px;
    float: left;
    position: relative;
    width: 47%;
    height: 490px;
}

.table_border { border-style: solid;
       border-top-width: 1px;
       border-right-width: 1px;
       border-bottom-width: 1px;
       border-left-width: 1px;
       }

.tr_bordered {
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.tr_border_bottom {
    border-style: solid;
    border-bottom-width: 1px;
}

.display_inline{
    display:inline-block;
    margin-left:60px;
}

.display_inline_with_margin{
    display:inline-block;
    margin-left:120px;
}

.bordered {
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    height:1200px;
}
.bordered_auto {
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    height:auto;
}
.bordered_out {
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    height:auto;
}
.float_left{
    float:left;
}

.float_left_with_margin{
    float:left;
    margin-left:80px;
}
.num_value
        {
            text-align: right;
        }
.margin_left{
    margin-left:80px;
}

.margin_left_40{
    margin-left:40px;
}

.margin_left_5{
    margin-left:5px;
}

.margin_left_extra{
    margin-left:300px;
}

table {
   width: 100%;
}

table.bordeexterno {
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

table.sinbordes td, table.sinbordes th {
    border:0px solid black;
}

table.conbordes td, table.conbordes th {
    border:1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0.3em;
    margin: 0;
    font: 90% sans-serif;
}

table.bigtext td, table.bigtext th {
    font-size: 14px !important;
}

th {
    /*color: white;*/
    background: gainsboro;
}

th, td {
    padding: 5px;
}